body {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 233, 233, 1);
  margin: 0;
  padding: 0;
  border: 5px, solid, black;
}

.Header{
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-direction: row;
  height: 20px;
  width: auto;
  margin-top: 40px;
  border-width: 5px;
  border-color: black;
  

}

.menu{
  display: flex;
  margin-left: 150px;


  
}

.menu--home, .menu--portfolio, .menu--about{
  font-family: jaldi;
  font-size: 30px;
  margin-right: 100px;
  cursor: pointer;
  transition: text-shadow  0.5s;
  
  
}

.menu--home:hover, .menu--portfolio:hover, .menu--about:hover{
  text-shadow: 1px 1px 1px rgb(38, 36, 36);
  

}

.logo{
  width: 70px;
  margin: 10px;
  margin-left: 40px;
  cursor: pointer;
}

.contact{
 
  border: none;
  border-radius: 500px;
  background-color: rgba(170, 0, 0, 1);
 
  width: auto;
  height: 50px;
  width: 160px;
  margin: 10px;

  transition: box-shadow 0.5s;
  cursor: pointer;
}

.contact:hover{
  box-shadow: 5px 2.2px 0px rgb(95, 1, 1);
}

.button-name{
  font-family: inter;
  font-weight: 500;
  font-size: 20px;
  color: white;
  padding: 5px;
}

.pp{
  margin-top: 100px;
  margin-left: 100px;
  width: 20%;
  height: 20%;
}


.main{
  display: flex;
  margin-top: 50px;
}

.text-intro{
  font-family: jost;
  font-weight: 500;
  text-align: right;
  margin-left: 40px;
  font-size: 80px;
  margin-top: 100px;
  margin-right: 20px;
}

.home-portfolio{
  margin-left: 300px;
  margin-right: 200px;
  margin-top: 70px;
  border-width: 4px ;
  border-radius: 500px;
  background-color: transparent;
  font-family: inter;
  font-weight: 500;
  font-size: 30px;
  height: 60px;
  width: 250px;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.home-portfolio:hover{
  box-shadow: 4px 2.2px 0.5px black;
}

.home-contact{
  border: none;
  border-radius: 500px;
  background-color: rgba(170, 0, 0);
  
  
  height: 60px;
  width: 220px;
  margin: 10px;
  font-family: inter;
  font-weight: 500;
  font-size: 30px;
  color: white;
  padding: 5px;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.home-contact:hover{
  box-shadow: 5px 2.2px 0px rgb(67, 0, 0);
}

